<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="bankingSuite">
  <test name="TC_001_Logintest">
	  <parameter name="browser" value="chrome"></parameter>
    <classes>
     <!-- <class name="testcCases.TC_001_Logintest"/> -->
       <class name="testcCases.TC_LOGIN_DDT_002"/>
    </classes>
  </test> <!-- Bankign_First -->
</suite> <!-- banking_Suite -->
